/* banner start here */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 63px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
    margin: 0;
}

p {
    color: #3E3E3E;
    font-size: 24px;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.first-half {
    width: 50%;
    margin-top: 120px;
    margin-left: 11%;
}


.article-paragraph {
    margin-bottom: 43px;
}

.stay-focus {
    color: #333333;
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 105px;
    padding-left: 18px;
    margin-bottom: 5px;
    border-left: 5px solid #FF5959;
}

.orange-color {
    color: #FFAD5A;
}

.link-btn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 17px 50px;
    border-radius: 7px;
}

.scroll-down {
    font-size: 21px;
    margin-top: 60px;
}

.second-half {
    width: 50%;
}

.second-half img {
    width: 66%;
}

/* banner end here */

/* my mission start */
.my-mission {
    margin-bottom: 20px;
}

.my-mission h1 {
    text-align: center;
    margin-bottom: 70px;
}

.my-mission-container {
    display: flex;
    margin: 0 11%;
    margin-bottom: 120px;
}

.my-mission-sub {
    background-color: #fff9d7;
    margin: 0 10px;
    padding: 35px 40px;
    border-radius: 33px;
}

.my-mission-sub img {
    width: 50%;
}

.my-mission-sub p {
    font-size: 21px;
}

/* my mission end */

/* Develop Without Limits starts */

.first-half-dwl {
    width: 40%;
}

.first-half-dwl img {
    width: 90%;
}

.second-hal-dwl {
    width: 60%;
    margin-top: 15px;
    margin-left: 33px;
}

.second-hal-dwl h2 {
    margin-bottom: 0;
}

.second-hal-dwl p {
    margin-bottom: 38px;
}

/* Develop Without Limits end */

/* Know our Global Community start */
.second-hal-kogc {
    margin-left: 0;
    margin-right: 33px;
}

.second-hal-kogc p {
    margin-right: 40px;
}

.second-half-kogc img {
    margin-left: 70px;
}

/* Know our Global Community end */

/* Contact Me start */
#contact-me-img {
    margin-top: 50px;
}

#name {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0;
}

#email {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0;
}

#subject {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0;
}

#message {
    margin-bottom: 48px;
    padding: 10px 10px 85px 10px;
    border: 1px solid black;
    border-radius: 0;
}

/* Contact Me end*/

/* footer start */
footer {
    text-align: center;
    background-color: rgb(13, 1, 29);
    padding: 18px 0;
}

footer h2 {
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

.footer-header-color {
    color: #FF5959;
}

footer p {
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
}

/* footer end */